Streamlit: Python library for building interactive web applications.
Python: Programming language for backend development and data processing.
Deployment: Streamlit Cloud for easy deployment and hosting of the web application.

numpy==1.21.4
pickle-mixin==1.0.2
streamlit==1.2.0
streamlit-option-menu==0.3.2
scikit-learn==1.0.1